extends pug/base

append vars
	- title = "ASSOCIATES STUDIO DESIGN"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	header
		.row.main-header
			.col.col-9.logo-block
			.col.col-3.menu-block
	main
		.row.projects
			.col.col-3.projects__item1
			.col.col-6.projects__item2
			.col.col-3.projects__item3
