// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-grey: #e9eae2;
$color-light_blue: #7acec3;
$color-yellow: #ebb240;
$color-delicate_white: #fefefe;
$color-grey_project: #dfe0d9;

// FONTS
