// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";


.col {
	height: 500px;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.col-9 {
	width: calc(900% / 12);
}
.col-3 {
	width: calc(300% / 12);
}
.col-6 {
	width: calc(600% / 12);
}
.logo-block {
	background-color: $color-grey;
}
.menu-block {
	background-color: $color-light_blue;
}
.projects__item1 {
	background-color: $color-yellow;
}
.projects__item2 {
	background-color: $color-delicate_white;
}
